body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, :root {
  background-color: black;
}

.server {
  text-decoration: none;
}

.serverRow:hover {
  background-color: rgb(49, 49, 49) !important;
}

.serverRow {
  padding: 10px;
}

.field {
  margin-bottom: 0;
}